body{
    margin:1px;
    padding:0px;
    font-size:14px;
}

h2{
    margin:8px 2px 8px 2px;
    padding:0px;
    text-align:center;
}

.head{
    display:inline-block;
    vertical-align:middle;
}

h2.head{
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
    border-right:1px solid;
    height:25px;
}

#header{
    border-bottom:1px solid;
    margin-bottom:6px;
}

ul.head{
    margin:0px;
    padding:0px;
}

ul.head li{
    display:inline-block;
    list-style:none;
    height:25px;
    margin-left:10px;
    padding-right:15px;
    text-align:center;
    border-right:1px solid;
}

ul.head li *{
    position:relative;
    top:5px;
}

div.racks_container{
    text-align:center;
    margin:auto;
}

div.rack{
    font-size:10.5px;
    line-height:12px;
    display:inline-block;
    vertical-align:top;
    border:1px solid;
    margin:1px;
    page-break-inside:avoid;
}

div.rack>table{
    page-break-inside:avoid;
    border-collapse:collapse;
}

tr.rack_title td{
    text-align:center;
    border-bottom:1px solid;
    font-weight:bold;
    text-decoration:underline;
    padding-bottom:4px;
}

tr.rack_head td, tr.rack_row td{
    border:1px solid;
}

tr.rack_row td:first-child, tr.rack_head td:first-child, tr.rack_empty_row td:first-child{
    border:none;
    border-top:1px solid;
    border-right:1px solid;
}

tr.rack_row:last-child td{
    border-bottom:none;
}

tr>td:last-child{
    border-right:none;
}

td[title], span[title], s[title]{
    cursor:help;
}

div.rack table{
    border-collapse:collapse;
}

.edit_form{
    width:100%;
    border-collapse:collapse;
}

.edit_form>tbody>tr>td{
    border:1px solid;
}

.edit_form td:first-child{
    font-weight:bold;
    width:80px;
    text-align:center;
}

.edit_form table td:first-child{
    width:110px;
}

.edit_form table td:first-child{
    font-weight:normal;
    font-style:italic;
}

.provtable{
    border-collapse:collapse;
    width:100%;
}

.provtable tr td{
    border-top:1px solid;
    border-left:1px solid;
}

.provtable tr td:first-child{
    border-left:none;
}

.provtable .mid{
    font-style:italic;
    text-align:center;
}

.edit_form i{
    font-style:normal;
    font-size:80%;
    display:block;
    padding-bottom:2px;
    padding-left:2px;
}

.edit_form table i{
    padding:0px;
}

.glpitable tr:first-child td{
    border-top:none;
}

.glpitable .mid{
    text-align:center;
}

.loadtable{
    width:100%;
}

.loadtable tr td:first-child{
    width:150px;
}

.loadtable td{
    font-style:normal!important;
    text-align:center;
}


.loadtable tr:first-child td{
    font-style:italic !important;
}
